<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <context-param>
    <param-name>javax.ws.rs.Application</param-name>
    <param-value>assign.resources.UTCoursesApplication</param-value>
  </context-param>
  <context-param>
    <param-name>DBNAME</param-name>
    <param-value>cs378_almto3</param-value>
  </context-param>
  <context-param>
    <param-name>DBHOST</param-name>
    <param-value>localhost</param-value>
  </context-param>
  <context-param>
    <param-name>DBUSERNAME</param-name>
    <param-value>almto3</param-value>
  </context-param>
  <context-param>
    <param-name>DBPASSWORD</param-name>
    <param-value>PxWHQV5wg5</param-value>
  </context-param>
  <servlet>
    <servlet-name>assignment5</servlet-name>
    <servlet-class>org.jboss.resteasy.plugins.server.servlet.HttpServletDispatcher</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>assignment5</servlet-name>
    <url-pattern>/myeavesdrop</url-pattern>
  </servlet-mapping>
</web-app>